# In production, rename this file to .env
NODE_ENV=production

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=goulbam_enterprises
DB_USER=goulbam_user
DB_PASSWORD=password

NEXT_PUBLIC_APP_URL=https://goulbam.com
UPLOAD_DIR=public/uploads

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=goulbam8@gmail.com
SMTP_PASS=

MAIL_FROM_NAME="Goulbam Enterprises"
MAIL_FROM_EMAIL=goulbam8@gmail.com
MAIL_TO=goulbam8@gmail.com